$highlight-background   : #5c6370;
$highlight-foreground   : #abb2bf;
$highlight-comment      : #928374;
$highlight-red          : #fb4934;
$highlight-orange       : #fe8019;
$highlight-yellow       : #e8eb34;
$highlight-green        : #98c379;
$highlight-aqua         : #8abeb7;
$highlight-blue         : #56b6c2;
$highlight-purple       : #c678dd;


